.footer {
  background: lightblue;
  padding: 20px;
  text-align: right;
  font-weight: bold;
  font-size: 18px;
}
.footer a {
  font-size: 40px;
  color: white;
  opacity: 0.6;
}
.footer a:hover {
  opacity: 0.9;
}
.name{
	text-decoration: underline;
}