
.navbar-simple {
  height: 80px;
  background: lightblue;
  box-shadow: 0px -2px 10px rgba(0,0,0,0.3);
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.navbar-simple img {
  height: 65px;
}